@tailwind base;
@tailwind components;
@tailwind utilities;

.dashboard-background {
  background-color: rgb(26, 26, 26);
}

.dashboard-navigation-darkmode {
  background-color: rgb(9, 11, 14);
}

.radial {
  background: radial-gradient(
    circle at 50% 10%,
    rgb(22, 23, 50),
    rgb(4, 6, 23),
    rgb(9, 11, 14),
    rgb(9, 11, 14)
  );
  color: white;
  font-family: "Arial", sans-serif;
}

.radial-nav {
  background: radial-gradient(
    circle at 50% 10%,
    rgb(22, 23, 50),
    rgb(4, 6, 23),
    rgb(5, 8, 32)
  );
  color: white;
  font-family: "Arial", sans-serif;
}

.gradient-text {
  background: linear-gradient(45deg, #09009f, rgb(78, 184, 212) 80%);
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
}

.input-btn-gradient {
  background: linear-gradient(45deg, #09009f, rgb(78, 184, 212) 80%);
}

.input-btn-gradient-opacity {
  background: linear-gradient(45deg, #09009f, rgb(78, 184, 212) 80%);
  opacity: 0.5;
}

.glow {
  box-shadow: 0 0 10px rgba(144, 223, 255, 0.8),
    0 0 20px rgba(144, 223, 255, 0.6), 0 0 30px rgba(144, 223, 255, 0.4),
    0 0 40px rgba(144, 223, 255, 0.2);
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bottom-container {
  position: fixed; /* or absolute depending on your layout needs */
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  z-index: 9999; /* optional: adjust z-index */
}

.bg-image {
  background-image: url("./assets/Quick-logo-black.png");
  background-repeat: no-repeat;
  background-position: center top 250px;
}

.glowing-light {
  box-shadow: 0 0 10px #33a9ff; /* Initial color */
  animation: glowlight 4s infinite alternate;
}

@keyframes glowlight {
  0% {
    box-shadow: 0 0 10px #4b2fa4;
  }
  25% {
    box-shadow: 0 0 10px #c18fff;
  }
  50% {
    box-shadow: 0 0 10px #33a9ff;
  }
  75% {
    box-shadow: 0 0 10px #c18fff;
  }
  100% {
    box-shadow: 0 0 10px #4b2fa4;
  }
}

/* For WebKit (Chrome, Safari) */
::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; /* Transparent background */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar handle */
  border-radius: 5px; /* Radius of the scrollbar handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar handle on hover */
}

.animated-text {
  position: relative;
  display: inline-block;
}

.animated-text::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: rgb(0, 180, 224);
  transition: width 0.5s ease-in-out;
}

.animated-text:hover::after {
  width: 100%;
}

.active .animated-text::after {
  width: 0;
}

.dLSFRA {
  font-size: 1rem;
  line-height: 1.75;
  text-align: center;
  padding: 0.25rem 1.25rem;
  border-radius: 30rem;
  border: 1px solid transparent;
  background: linear-gradient(rgb(22, 23, 50), rgb(22, 23, 50)) padding-box
      padding-box,
    linear-gradient(
        43deg,
        rgb(65, 88, 208) 0%,
        rgb(200, 80, 192) 46%,
        rgb(65, 88, 208) 100%
      )
      border-box border-box;
}

.custom-layout .react-colorful__saturation {
  border-radius: 5px;
  border-bottom: none;
}

.custom-layout .react-colorful__hue {
  margin-top: 18px;
  margin-bottom: 15px;
}

.custom-layout .react-colorful__hue,
.custom-layout .react-colorful__alpha {
  height: 5px;
  border-radius: 5px;
}

.custom-layout .react-colorful__hue-pointer,
.custom-layout .react-colorful__alpha-pointer, .custom-layout .react-colorful__saturation-pointer {
  width: 16px;
  height: 15px;
}

.custom-layout .react-colorful__alpha-pointer, .react-colorful__alpha {
  display: none;
}

.custom-layout .react-colorful__saturation {
  width: 100%;
}

[contentEditable=false]:empty:not(:focus):before {
  content: attr(data-text);
  color:gray;
}

.h{
  color: #33a9ff;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 100;
  font-size: 0rem;
  font-style:normal;
  text-align:justify;
}


.ant-slider .ant-slider-rail, .ant-slider .ant-slider-step {
  background-color: white;
}

/* 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif 
'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
'Times New Roman', Times, serif
'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
Arial, Helvetica, sans-serif
Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
Georgia, 'Times New Roman', Times, serif
Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
Verdana, Geneva, Tahoma, sans-serif */
