@tailwind base;
@tailwind components;
@tailwind utilities;

.radial {
    background: radial-gradient(circle at 50% 10%, rgb(22, 23, 50), rgb(4, 6, 23), rgb(5, 8, 32));
    color: white;
    font-family: 'Arial', sans-serif;
}

.gradient-text {
  background: linear-gradient(45deg, #09009f, rgb(78,184,212) 80%);
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
}

.glow {
  box-shadow: 0 0 10px rgba(144, 223, 255, 0.8), 0 0 20px rgba(144, 223, 255, 0.6), 0 0 30px rgba(144, 223, 255, 0.4), 0 0 40px rgba(144, 223, 255, 0.2);
}