@tailwind base;
@tailwind components;
@tailwind utilities;

.dashboard-background {
  background-color: rgb(26,26,26);
}

.dashboard-navigation-darkmode {
  background-color: rgb(9,11,14);
}

.radial {
    background: radial-gradient(circle at 50% 10%, rgb(22, 23, 50), rgb(4, 6, 23), rgb(5, 8, 32));
    color: white;
    font-family: 'Arial', sans-serif;
}

.gradient-text {
  background: linear-gradient(45deg, #09009f, rgb(78,184,212) 80%);
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
}

.glow {
  box-shadow: 0 0 10px rgba(144, 223, 255, 0.8), 0 0 20px rgba(144, 223, 255, 0.6), 0 0 30px rgba(144, 223, 255, 0.4), 0 0 40px rgba(144, 223, 255, 0.2);
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bottom-container {
  position: fixed; /* or absolute depending on your layout needs */
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  z-index: 9999; /* optional: adjust z-index */
}

.bg-image {
  background-image: url("./assets/Quick-logo-black.png");
  background-repeat: no-repeat;
  background-position: center top 250px;
}

.glowing-light {
    box-shadow: 0 0 10px #33a9ff; /* Initial color */
    animation: glowlight 4s infinite alternate;
  }

  @keyframes glowlight {
    0% {
      box-shadow: 0 0 10px #4b2fa4;
    }
    25% {
      box-shadow: 0 0 10px #c18fff;
    }
    50% {
      box-shadow: 0 0 10px #33a9ff;
    }
    75% {
      box-shadow: 0 0 10px #c18fff;
    }
    100% {
      box-shadow: 0 0 10px #4b2fa4;
    }
  }


.adamina-regular {
  font-family: "Adamina", serif;
}
